@media screen and (max-width: 968px) {
    .top-info-fixo{
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container {
        min-width: 100%;
        overflow-y: hidden;
    }
/* UL PARA EVENTUAL RESPOnSIVIDADE */
    .nav-principal ul {
        position: absolute;
        top: -900px;
        right: -900px;
    }

    .whats-principal {
        margin-left: 10px;
        margin-right: 5px;
        padding: 10px 20px;
    }

    .title-hero {
        font-size: 6em
    }

    .cards-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .card {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6em;
    }

    .lista-servicos {
        margin: 2rem 0 5rem 0;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .info-localizacao-footer {
        justify-content: center;
        padding: 20px;
        width: 100%;
        font-size: 1.5em;
    }

}

@media screen and (max-width: 768px) {
    .lista-servicos-principal {
        font-size: 1.9em;
    }
}



@media screen and (max-width: 560px) {
    .hero-principal {
        padding: 0 20px;
    }

    #servicos,
    #localizacao {
        padding: 0 10px;
    }

    .sub-title {
        font-size: 3.5em;
    }

    .lista-servicos {
        justify-content: center;
        flex-direction: column;
    }

    .lista-servicos-principal {
        margin: 0;
    }
}

@media screen and (max-width:355px) {
    .container {
        min-width: 100%;
    }
  
    .top-info-fixo {
        font-size: 1.2em;
    }
  .whats-principal{
    margin: 0;
    padding: 3px 5px;
  }


    .title-hero {
        font-size: 5.5em;
    }

    .lista-servicos {
        width: 95%;
    }

    #section {
        margin-top: 0;
    }

    .lista-servicos-principal {
        font-size: 1.6em;
    }

    .contato-whats {
        padding: 10px 20px;
        font-size: 1.3em;
    }

    .link-nav {
        padding: 0;
    }

    .top-nav {
        right: 30px;
        top: -150px;
    }
}